#departures {
    display: none;
}

#departuresTable {
    margin: 15px;
    padding: 15px;
    width: calc(100% - 30px);
    height: calc(70% - 15px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
    overflow: scroll;
    overflow-x: hidden;
}

#departuresTable>div {
    margin-bottom: 15px;
}

#departuresTable>div>p, #departuresTable>div>div:first-of-type {
    font-size: 0.8em;
    padding: 15px;
    margin-bottom: 15px;
}

#departuresTable>div>div:first-of-type {
    float: left;
    width: 60%;
    border-left: 2px solid #000C2B;
}

#departuresTable>div>p:last-of-type {
    float: right;
    width: 40%;
    text-align: right;
}

#stationContainer {
    max-height: 275px;
    overflow-y: scroll;
}