#fromContainer, #toContainer {
    max-height: 275px;
    overflow-y: scroll;
}

#journeyTable {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-height: calc(60% - 30px);
    margin: 15px;
    padding: 15px;
    overflow-y: scroll;
    display: none;
}

#journeyTable>div {
    margin-bottom: 15px;
    border-left: 2px solid #000C2B;
    line-height: 4px;
}

#journeyTable p {
    font-size: 0.8em;
    padding: 15px;
    margin-bottom: 5px;
    line-height: 1em;
}

#journeyTable p:last-of-type {
    margin-bottom: 0;
}

#journeyTable span {
    float: right;
}

#journeyTable label {
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    margin-left: 5px;
}