@media only screen and (max-width: 768px) {
    html {
        overflow: hidden;
    }

    #googleMap {
        display: none;
    }

    main>div:first-of-type {
        width: 100%;
        height: calc(100% - 75px);
    }

    #fromContainer, #toContainer {
        font-size: 0.8em;
    }
}